@page "/"

@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authentication;

@inject AuthService authService
@inject SignInManager<IdentityUser> signInManager
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>
 <h4> Bienvenue sur l'application Butcher2Farmer</h4>
 <h2> La premiere application qui met en relation directement les boucher et les éleveur</h2>




