@page "/farmer"
@using Database.Entities;
@using Microsoft.AspNetCore.Components;

@inject AnimalService animalService
@inject FarmerService farmerService

<h3>Farmers</h3>

<input type="text" @bind="filterText" @oninput="FilterFarmers" placeholder="Search by name..." />

@if (farmers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var farmer in filteredFarmers)
            {
                <tr>
                    <td>@farmer.Id</td>
                    <td>@farmer.Name</td>
                    <td>@farmer.Email</td>
                    <button @onclick="() => SelectFarmer(farmer)">Select Farmer</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Database.Entities.Farmer> farmers;
    List<Database.Entities.Farmer> filteredFarmers = new List<Database.Entities.Farmer>();
    Animal animalEnEdition = new Animal();

    string filterText = "";

    protected override async Task OnInitializedAsync()
    {
        farmers = await farmerService.GetAllAsync();
    }

    private void SelectFarmer(Database.Entities.Farmer selectedFarmer)
    {
        animalEnEdition.FarmerName = selectedFarmer.Name;
        filteredFarmers.Clear();
    }



    private void FilterFarmers()
    {
        if (string.IsNullOrWhiteSpace(filterText))
        {
            filteredFarmers = farmers;
        }
        else
        {
            filteredFarmers = farmers
                .Where(farmer =>
                    $"{farmer.Name}"
                    .Contains(filterText, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }
}
